
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

* {
  margin-right: 30px;
  margin-left: 30px;
  font-family: calibri;
  text-align: center;
}

p {
  margin-right: 10px;
  margin-left: 10px;
}

.sub {
    margin: 4px;
    cursor: pointer;
}
.add {
    margin: 4px;
    cursor: pointer;
}
.field {
    text-align: center;
    width: 40px;
    margin: 4px;
    color: salmon;
}
