<html dir=rtl>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
</head>
<body>
<form action="/form" id="myForm" method="post">
    <div>
        <label class="title_label" for="scouter_name">שם הסקאוטר:</label>
        <input type="text" id="scouter_name" name="scouter_name" placeholder="" value=""/>
        <br><br>
        <label class="title_label" for="team_num">מס' קבוצה:</label>
        <input type="number" id="team_num" name="team_num" placeholder=""/>
        <br><br>
        <label class="title_label" for="game_num">מס' משחק:</label>
        <input type="number" id="game_num" name="game_num" placeholder=""/>
        <br><br>
        <label class="title_label">האם הרובוט עלה למגרש?</label><br>
        <input type="radio" name="on_field" id="on_field_1" value="כן">
        <label for="on_field_1" class="radio_label">כן</label><br>
        <input type="radio" name="on_field" id="on_field_2" value="לא">
        <label for="on_field_2" class="radio_label">לא</label>
        <br><br>
        <h2>AUTONOMOUS</h2>
        <img src="/static/starter_loc.jpg" alt="Starter Location Illustration" width="500" height="190">
        <br><br>
        <label class="title_label">מיקום התחלתי: (סמן את המספר הכי קרוב לפי התמונה)</label>
        <br>
        <input type="radio" name="starter_location" id="starter_location_1" value="1">
        <label for="starter_location_1" class="radio_label">1</label>
        <input type="radio" name="starter_location" id="starter_location_2" value="2">
        <label for="starter_location_2" class="radio_label">2</label>
        <input type="radio" name="starter_location" id="starter_location_3" value="3">
        <label for="starter_location_3" class="radio_label">3</label>
        <br><br><br>
        <label class="title_label">כלי משחק התחלתי:</label>
        <br>
        <input type="radio" name="starter_tool_1" id="starter_tool_1_1" value="קונוס">
        <label for="starter_tool_1_1" class="radio_label">קונוס</label><br>
        <input type="radio" name="starter_tool_1" id="starter_tool_1_2" value="קובייה">
        <label for="starter_tool_1_2" class="radio_label">קובייה</label><br>
        <input type="radio" name="starter_tool_1" id="starter_tool_1_3" value="לא">
        <label class="radio_label" for="starter_tool_1_3">לא</label><br>
        <br><br>
        <label class="title_label">גובה שהניח אותו:</label>
        <br>
        <input type="radio" name="starter_height_1" id="starter_height_1_1" value="0">
        <label class="radio_label" for="starter_height_1_1">0</label><br>
        <input type="radio" name="starter_height_1" id="starter_height_1_2" value="1">
        <label class="radio_label" for="starter_height_1_2">1</label><br>
        <input type="radio" name="starter_height_1" id="starter_height_1_3" value="2">
        <label class="radio_label" for="starter_height_1_3">2</label><br>
        <input type="radio" name="starter_height_1" id="starter_height_1_4" value="3">
        <label class="radio_label" for="starter_height_1_4">3</label>
        <br><br>
        <label class="title_label">כלי משחק התחלתי נוסף?</label><br>
        <input type="radio" name="starter_tool_2" id="starter_tool_2_1" value="קונוס">
        <label class="radio_label" for="starter_tool_2_1">קונוס</label><br>
        <input type="radio" name="starter_tool_2" id="starter_tool_2_2" value="קובייה">
        <label class="radio_label" for="starter_tool_2_2">קובייה</label><br>
        <input type="radio" name="starter_tool_2" id="starter_tool_2_3" value="לא">
        <label class="radio_label" for="starter_tool_2_3">לא</label>
        <br><br>
        <label class="title_label">גובה שהניח אותו:</label><br>
        <input type="radio" name="starter_height_2" id="starter_height_2_1" value="0">
        <label class="radio_label" for="starter_height_2_1">0</label><br>
        <input type="radio" name="starter_height_2" id="starter_height_2_2" value="1">
        <label class="radio_label" for="starter_height_2_2">1</label><br>
        <input type="radio" name="starter_height_2" id="starter_height_2_3" value="2">
        <label class="radio_label" for="starter_height_2_3">2</label><br>
        <input type="radio" name="starter_height_2" id="starter_height_2_4" value="3">
        <label class="radio_label" for="starter_height_2_4">3</label>
        <br><br>
        <label class="title_label">כלי משחק התחלתי נוסף?</label><br>
        <input type="radio" name="starter_tool_3" id="starter_tool_3_1" value="קונוס">
        <label class="radio_label" for="starter_tool_3_1">קונוס</label><br>
        <input type="radio" name="starter_tool_3" id="starter_tool_3_2" value="קובייה">
        <label class="radio_label" for="starter_tool_3_2">קובייה</label><br>
        <input type="radio" name="starter_tool_3" id="starter_tool_3_3" value="לא">
        <label class="radio_label" for="starter_tool_3_3">לא</label>
        <br><br>
        <label class="title_label">גובה שהניח אותו:</label><br>
        <input type="radio" name="starter_height_3" id="starter_height_3_1" value="0">
        <label class="radio_label" for="starter_height_3_1">0</label><br>
        <input type="radio" name="starter_height_3" id="starter_height_3_2" value="1">
        <label class="radio_label" for="starter_height_3_2">1</label><br>
        <input type="radio" name="starter_height_3" id="starter_height_3_3" value="2">
        <label class="radio_label" for="starter_height_3_3">2</label><br>
        <input type="radio" name="starter_height_3" id="starter_height_3_4" value="3">
        <label class="radio_label" for="starter_height_3_4">3</label>
        <br><br>
        <label class="title_label">האם ניסה לטפס על הנדנדה באוטונומי?</label><br>
        <input type="radio" name="auto_seesaw" id="auto_seesaw_1" value="טיפס מאוזן">
        <label class="radio_label"  for="auto_seesaw_1">טיפס מאוזן</label><br>
        <input type="radio" name="auto_seesaw" id="auto_seesaw_2" value="הצליח אבל לא מאוזן">
        <label class="radio_label"  for="auto_seesaw_2">הצליח אבל לא מאוזן</label><br>
        <input type="radio" name="auto_seesaw" id="auto_seesaw_3" value="ניסה ולא הצליח">
        <label class="radio_label" for="auto_seesaw_3">ניסה ולא הצליח</label><br>
        <input type="radio" name="auto_seesaw" id="auto_seesaw_4" value="לא">
        <label class="radio_label" for="auto_seesaw_4">לא</label>
        <br><br>
        <label class="title_label">האם הרובוט יצא לגמרי מאזור הקהילה בזמן האוטונומי?</label><br>
        <input type="radio" name="mobility" id="mobility_1" value="כן">
        <label for="mobility_1" class="radio_label">כן</label><br>
        <input type="radio" name="mobility" id="mobility_2" value="לא">
        <label for="mobility_2" class="radio_label">לא</label><br>
        <br><br>
        <h2>TELEOP</h2>
        <H3>מיקום כלי המשחק בגריד</H3>
        <h3>גבוה</h3>
        <div id="grid1">
            קונוסים:
            <button type="button" id="sub1" class="sub">-</button>
            <input type="number" id="grid_co_h" name="grid_co_h" value="0" class="field"/>
            <button type="button" id="add1" class="add">+</button>
            קוביות:
            <button type="button" id="sub2" class="sub">-</button>
            <input type="number" id="grid_cu_h" name="grid_cu_h" value="0" class="field"/>
            <button type="button" id="add2" class="add">+</button>
        </div>
        <br>
        <h3>בינוני</h3>
        <div id="grid2">
            קונוסים:
            <button type="button" id="sub3" class="sub">-</button>
            <input type="number" id="grid_co_m" name="grid_co_m" value="0" class="field"/>
            <button type="button" id="add3" class="add">+</button>
            קוביות:
            <button type="button" id="sub4" class="sub">-</button>
            <input type="number" id="grid_cu_m" name="grid_cu_m" value="0" class="field"/>
            <button type="button" id="add4" class="add">+</button>
        </div>
        <br>
        <h3>נמוך</h3>
        <div id="grid3">
            קונוסים:
            <button type="button" id="sub5" class="sub">-</button>
            <input type="number" id="grid_co_l" name="grid_co_l" value="0" class="field"/>
            <button type="button" id="add5" class="add">+</button>
            קוביות:
            <button type="button" id="sub6" class="sub">-</button>
            <input type="number" id="grid_cu_l" name="grid_cu_l" value="0" class="field"/>
            <button type="button" id="add6" class="add">+</button>
        </div>
        <br><br>
        <h3>כללי</h3>
        <div id="shoot">
            ירי קונוסים:
            <button type="button" id="sub10" class="sub">-</button>
            <input type="number" id="cone_shoot" name="cone_shoot" value="0" class="field"/>
            <button type="button" id="add10" class="add">+</button>
            ירי קוביות:
            <button type="button" id="sub11" class="sub">-</button>
            <input type="number" id="cube_shoot" name="cube_shoot" value="0" class="field"/>
            <button type="button" id="add11" class="add">+</button>
        </div>
        <br>
        <label class="title_label">האם הרובוט עשה הגנה? (חסם רובוטים\מנע גישה לאזור במגרש)</label><br>
        <input type="radio" name="defence_execute" id="defence_execute_1" value="כן">
        <label class="radio_label"  for="defence_execute_1">כן</label><br>
        <input type="radio" name="defence_execute" id="defence_execute_2" value="לקצת זמן">
        <label class="radio_label"  for="defence_execute_2">לקצת זמן</label><br>
        <input type="radio" name="defence_execute" id="defence_execute_3" value="לא">
        <label class="radio_label" for="defence_execute_3">לא</label><br>
        <br>
        <label class="title_label">האם הייתה נגד הרובוט הגנה? (רובוט ניסה לחסום לו את הדרך\התנגש בו במכוון\רדף אחריו
            במגרש)</label><br>
        <input type="radio" name="defence_receive" id="defence_receive_1" value="כן">
        <label class="radio_label"  for="defence_receive_1">כן</label><br>
        <input type="radio" name="defence_receive" id="defence_receive_2" value="לקצת זמן">
        <label class="radio_label"  for="defence_receive_2">לקצת זמן</label><br>
        <input type="radio" name="defence_receive" id="defence_receive_3" value="לא">
        <label class="radio_label" for="defence_receive_3">לא</label><br>
        <br><br>
        <h2>הערות נוספות</h2>
        <label class="title_label">האם לרובוט הייתה תקלה? (נכבה, נתקע או נשבר במהלך המשחק)</label>
        <br>
        <input type="radio" name="dysfunction" id="dysfunction_1" value="כן">
        <label for="dysfunction_1" class="radio_label">כן</label><br>
        <input type="radio" name="dysfunction" id="dysfunction_2" value="לא">
        <label for="dysfunction_2" class="radio_label">לא</label><br>
        <br><br>
        <label class="title_label">האם הרובוט התהפך?</label><br>
        <input type="radio" name="flip" id="flip_1" value="כן">
        <label for="flip_1" class="radio_label">כן</label><br>
        <input type="radio" name="flip" id="flip_2" value="לא">
        <label for="flip_2" class="radio_label">לא</label><br>
        <br><br>
        <label for="comments" class="title_label">תכתבו דברים שראיתם ואתם חושבים שלא התייחסנו אליהם:</label>
        <br>
        <label class="title_label">למשל, רובוט שמטפס מהצד או מרים אתו רובוט אחר, רובוט שעושה מלא עבירות, רובוט שמפוצץ קוביות ועוד ועוד</label>
        <br>
        <label class="title_label">**האם הרובוט הפריע לאיזון של הנדנדה?</label>
        <br>
        <textarea id="comments" style="width: 400px; height: 50px; text-align:right"
                  name="comments" placeholder=""></textarea>
        <br><br>
        <script src="/static/grid.js"></script>


    </div>
    <br>
    <div style="text-align:center">
        <button type="submit" id="submit-btn">
            Submit
        </button>
    </div>
</form>
</body>
<script type="text/javascript">
const numInputs = document.querySelectorAll('input[type=number]')

numInputs.forEach(function(input) {
  input.addEventListener('change', function(e) {
    if (e.target.value == '') {
      e.target.value = 0
    }
  })
})
        $(document).ready(function() {
   $("#myForm").validate({
      rules: {
  on_field: "required",
  scouter_name: "required",
  game_num: "required",
  team_num: "required",
  starter_location: "required",
  starter_tool_1: "required",
  starter_height_1: "required",
  auto_seesaw: "required",
  mobility: "required",
  grid_co_h: "required",
  grid_co_m: "required",
  grid_co_l: "required",
  grid_cu_h: "required",
  grid_cu_m: "required",
  grid_cu_l: "required",
  cone_shoot: "required",
  cube_shoot: "required",
  defence_execute: "required",
  defence_receive: "required",
  dysfunction: "required",
  flip: "required"
  },
         submitHandler: function(form) {
            form.submit();
            $("#submit-btn").attr("disabled", true);
            $("#submit-btn").val("Sending, please wait...");
        },
         errorPlacement: function(error, element) {
      error.appendTo('#errorContainer');}
   });
});

</script>
</html>