<html dir=rtl>
<form action="/form" method="post">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="utf-8">
    <body>
    <div>
        <label for="scouter_name">שם הסקאוטר:</label>
        <input type="text" id="scouter_name" name="scouter_name" placeholder="" value="" required>
        <button type=button" onclick="changeDefault()">GMAIL NAME</button>
        <script type="text/javascript">
            function changeDefault() {
                var name = "{{ variable }}";
                document.getElementById("scouter_name").value = name;
            }
        </script>
        <br><br>
        <label for="team_num">מס' קבוצה:</label>
        <input type="number" id="team_num" name="team_num" placeholder="" required>
        <br><br>
        <label for="game_num">מס' משחק:</label>
        <input type="number" id="game_num" name="game_num" placeholder="" required>
        <br><br>
        <h2>AUTONOMOUS</h2>
        <img src="/static/starter_loc.png" alt="Starter Location Illustration" width="290" height="190">
        <br><br>
        <label for="starter_location">מיקום התחלתי:</label>
            <br>
            <select name="starter_location" id="starter_location" size="5" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
        <br><br>
        <label for="auto_drop">האם הפיל כלי משחק \ ניסה להניח ונכשל:</label>
            <select name="auto_drop" id="auto_drop" size="2" required>
              <option value="כן">כן</option>
              <option value="לא">לא</option>
            </select>
        <br><br>
        <label for="auto_seesaw">האם ניסה לטפס על הנדנדה:</label>
            <br>
            <select name="auto_seesaw" id="auto_seesaw" size="4" required>
              <option value="כן">כן</option>
              <option value="לא">לא</option>
              <option value="הצליח אבל לא מאוזן">הצליח אבל לא מאוזן</option>
              <option value="טיפס מאוזן">טיפס מאוזן</option>
            </select>
        <br><br>
        <label for="mobility">האם הרובוט יצא לגמרי מאזור הקהילה בזמן האוטונומי?</label>
            <select name="mobility" id="mobility" size="2" required>
              <option value="כן">כן</option>
              <option value="לא">לא</option>
            </select>
        <br><br>
        <h2>TELEOP</h2>
        <H3>מיקומים בגריד</H3>
        <div id="grid1"> <h3>גבוה</h3>
            קונוסים:
            <button type="button" id="sub" class="sub">-</button>
            <input type="text" id="grid_co_h" value="0" class="field" />
            <button type="button" id="add" class="add">+</button>
            קוביות:
            <button type="button" id="sub2" class="sub">-</button>
            <input type="text" id="grid_cu_h" value="0" class="field" />
            <button type="button" id="add2" class="add">+</button>
        </div>
        <br>
        <div id="grid2"><h3>בינוני</h3>
            קונוסים:
            <button type="button" id="sub3" class="sub">-</button>
            <input type="text" id="grid_co_m" value="0" class="field" />
            <button type="button" id="add3" class="add">+</button>
            קוביות:
            <button type="button" id="sub4" class="sub">-</button>
            <input type="text" id="grid_cu_m" value="0" class="field" />
            <button type="button" id="add4" class="add">+</button>
        </div>
        <br>
        <div id="grid3"><h3>נמוך</h3>
            קונוסים:
            <button type="button" id="sub5" class="sub">-</button>
            <input type="text" id="grid_co_l" value="0" class="field" />
            <button type="button" id="add5" class="add">+</button>
            קוביות:
            <button type="button" id="sub6" class="sub">-</button>
            <input type="text" id="grid_cu_l" value="0" class="field" />
            <button type="button" id="add6" class="add">+</button>
        </div>
        <script src="/static/grid.js"></script>

    </div>
    </body>
    <br>
    <div style="text-align:center">
        <button type="submit" onclick="this.disabled=true;this.value='Sending, please wait...';this.form.submit();">Submit</button>
    </div>
</form>
</html>